{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Home page{% endblock %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <!--div class="page-wrapper"-->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Dashboard</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
            <div class="col-md-7 col-4 align-self-center">
                <div class="d-flex m-t-10 justify-content-end">
                    <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                        <div class="chart-text m-r-10">
                            <h6 class="m-b-0">
                                <small>THIS MONTH</small>
                            </h6>
                            <h4 class="m-t-0 text-info">{{ WarningLogCount.0 }} Warning(s)</h4></div>
                        <div class="spark-chart">
                            <div id="monthchart"></div>
                        </div>
                    </div>
                    <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                        <div class="chart-text m-r-10">
                            <h6 class="m-b-0">
                                <small>LAST MONTH</small>
                            </h6>
                            <h4 class="m-t-0 text-primary text-purple">{{ WarningLogCount.1 }} Warning(s)</h4></div>
                        <div class="spark-chart">
                            <div id="lastmonthchart"></div>
                        </div>
                    </div>
                    <div class="">
                        <button class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right m-l-10">
                            <i class="ti-settings text-white"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-8 col-md-7">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-wrap">
                                    <div>
                                        <h3 class="card-title">Equipment Overview</h3>
                                        <h6 class="card-subtitle">Health equipment Vs Abnormal equipment</h6></div>
                                    <div class="ml-auto">
                                        <ul class="list-inline">
                                            <li>
                                                <h6 class="text-muted  text-info"><i
                                                        class="fa fa-circle font-10 m-r-10"></i>Health equipment</h6>
                                            </li>
                                            <li>
                                                <h6 class="text-muted text-success"><i
                                                        class="fa fa-circle font-10 m-r-10 "></i>Abnormal equipment</h6>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="amp-pxl" style="height: 360px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Assets statistics </h3>
                        <h6 class="card-subtitle">Different types of Asset Registered to Manage</h6>
                        <div id="visitor" style="height:290px; width:100%;"></div>
                    </div>
                    <div>
                        <hr class="m-t-0 m-b-0">
                    </div>
                    <div class="card-body text-center ">
                        <ul class="list-inline m-b-0">
                            <li>
                                <h6 class="text-muted text-info"><i class="fa fa-circle font-10 m-r-10 "></i>Sensor
                                </h6></li>
                            <li>
                                <h6 class="text-muted  text-primary"><i class="fa fa-circle font-10 m-r-10"></i>Equipment
                                    Group
                                </h6></li>
                            <li>
                                <h6 class="text-muted  text-success"><i class="fa fa-circle font-10 m-r-10"></i>Component
                                </h6></li>
                            <li>
                                <h6 class="text-muted  text-mypurple"><i class="fa fa-circle font-10 m-r-10"></i>Machine
                                </h6></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-4 col-xlg-3 col-md-5">
                <div class="card blog-widget">
                    <div class="card-body">
                        <div class="blog-image"><img src="{% static 'images/big/op1.jpg' %}" alt="img"
                                                     class="img-responsive"/></div>
                        <h3>Condition monitoring is significant for offshore platform</h3>
                        <label class="label label-rounded label-success">Technology</label>
                        <p class="m-t-20 m-b-20">
                            Induction motors have been extensively used in industry to transform electricity to
                            mechanical energy. Failure of motors strongly affects the continuity of production, thus
                            causing economic losses.
                        </p>
                        <div class="d-flex">
                            <div class="read"><a href="javascript:void(0)" class="link font-medium">Read More</a>
                            </div>
                            <div class="ml-auto">
                                <a href="javascript:void(0)" class="link m-r-10 " data-toggle="tooltip"
                                   title="Like"><i class="mdi mdi-heart-outline"></i></a> <a
                                    href="javascript:void(0)" class="link" data-toggle="tooltip" title="Share"><i
                                    class="mdi mdi-share-variant"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xlg-9 col-md-7">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">Realtime waveform</h3>
                                <h6 class="card-subtitle">The latest collected signal</h6>
                            </div>
                            <div class="ml-auto align-self-center">
                                <ul class="list-inline m-b-0">
                                    <li>
                                        <h6 class="text-muted text-success"><i
                                                class="fa fa-circle font-10 m-r-10 "></i>Vibration signal</h6></li>
                                </ul>
                            </div>

                        </div>
                        <div id="signalpresentation" style="width:100%; height:400px;"></div>
                        <div class="row text-center">
                            <div class="col-lg-4 col-md-4 m-t-20"><h1 class="m-b-0 font-light">10240</h1>
                                <small>Total point</small>
                            </div>
                            <div class="col-lg-4 col-md-4 m-t-20"><h1 class="m-b-0 font-light">10240</h1>
                                <small>Sampling frequency</small>
                            </div>
                            <div class="col-lg-4 col-md-4 m-t-20"><h1 class="m-b-0 font-light"
                                                                      id="signal_collected_day"></h1>
                                <small>Collected time</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-4 col-md-4">
                <div class="card card-inverse card-primary">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="m-r-20 align-self-center">
                                <h1 class="text-white"><i class="ti-pie-chart"></i></h1></div>
                            <div>
                                <h3 class="card-title">Data volume</h3>
                                <h6 class="card-subtitle">{% now "SHORT_DATETIME_FORMAT" %}</h6></div>
                        </div>
                        <div class="row">
                            <div class="col-4 align-self-center">
                                <h2 class="font-light text-white">{{ SignalVolume }}</h2>
                            </div>
                            <div class="col-8 p-t-10 p-b-20 align-self-center">
                                <div class="usage chartist-chart" style="height:65px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-4 col-md-4">
                <div class="card card-inverse card-success">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="m-r-20 align-self-center">
                                <h1 class="text-white"><i class="icon-cloud-download"></i></h1></div>
                            <div>
                                <h3 class="card-title">Signal count</h3>
                                <h6 class="card-subtitle">{% now "Y F d" %}</h6></div>
                        </div>
                        <div class="row">
                            <div class="col-4 align-self-center">
                                <h2 class="font-light text-white">{{ SignalCount }}</h2>
                            </div>
                            <div class="col-8 p-t-10 p-b-20 text-right">
                                <div class="spark-count" style="height:65px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-4 col-md-4">
                <div class="card">
                    <img class="" src="{% static 'images/background/weatherbg.jpg' %}" alt="Card image cap">
                    <div class="card-img-overlay" style="height:110px;">
                        <h3 class="card-title text-white m-b-0 dl">Beijing</h3>
                        <small class="card-text text-white font-light">Sunday 15 march</small>
                    </div>
                    <div class="card-body weather-small">
                        <div class="row">
                            <div class="col-8 b-r align-self-center">
                                <div class="d-flex">
                                    <div class="display-6 text-info"><i class="wi wi-day-rain-wind"></i></div>
                                    <div class="m-l-20">
                                        <h1 class="font-light text-info m-b-0">3<sup>0</sup></h1>
                                        <small>Sunny day</small>
                                    </div>
                                </div>

                            </div>
                            <div class="col-4 text-center">
                                <h1 class="font-light m-b-0">-5<sup>0</sup></h1>
                                <small>Tonight</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
        <!-- Row -->
        <!-- Row -->
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <div class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <ul id="themecolors" class="m-t-20">
                        <li><b>With Light sidebar</b></li>
                        <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                        <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                        <li><a href="javascript:void(0)" data-theme="red" class="red-theme">3</a></li>
                        <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme working">4</a></li>
                        <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                        <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                        <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                        <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a>
                        </li>
                        <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                        <li><a href="javascript:void(0)" data-theme="red-dark" class="red-dark-theme">9</a></li>
                        <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                        <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a>
                        </li>
                        <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme ">12</a>
                        </li>
                    </ul>
                    <ul class="m-t-20 chatonline">
                        <li><b>Chat option</b></li>
                        <li>
                            <a href="javascript:void(0)"><img src="{% static 'images/users/1.jpg' %}" alt="user-img"
                                                              class="img-circle"> <span>Varun Dhavan <small
                                    class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="{% static 'images/users/2.jpg' %}" alt="user-img"
                                                              class="img-circle"> <span>Genelia Deshmukh <small
                                    class="text-warning">Away</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="{% static 'images/users/3.jpg' %}" alt="user-img"
                                                              class="img-circle"> <span>Ritesh Deshmukh <small
                                    class="text-danger">Busy</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="{% static 'images/users/4.jpg' %}" alt="user-img"
                                                              class="img-circle"> <span>Arijit Sinh <small
                                    class="text-muted">Offline</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="{% static 'images/users/5.jpg' %}" alt="user-img"
                                                              class="img-circle"> <span>Govinda Star <small
                                    class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="{% static 'images/users/6.jpg' %}" alt="user-img"
                                                              class="img-circle"> <span>John Abraham<small
                                    class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="{% static 'images/users/7.jpg' %}" alt="user-img"
                                                              class="img-circle"> <span>Hritik Roshan<small
                                    class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="{% static 'images/users/8.jpg' %}" alt="user-img"
                                                              class="img-circle"> <span>Pwandeep rajan <small
                                    class="text-success">online</small></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
    <!--/div-->
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
{% endblock %}
{% block javascritp %}
    <script src="{% static 'js/dashboard1.js' %}"></script>

    <script>
        var WarningLogCount ={{ WarningLogCount }};
    </script>
{% endblock %}

