{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
{% endblock %}
{% block title %}Assets Tree View{% endblock %}
{% block content %}
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Treeview</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Treeview</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <!-- Column -->
            <div class="col-lg-12 col-xlg-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">Tree view</h3>
                                <h6 class="card-subtitle">Relationships of registed equipment</h6>
                            </div>
                            <div class="ml-auto align-self-center">

                            </div>

                        </div>
                        <div id="Treeview" style="width:100%; height:400px;"></div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}

{% block javascritp %}
    <script src="{% static 'plugins/chartist-js/dist/chartist.min.js' %}"></script>
    <script src="{% static 'plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js' %}"></script>
    <!--c3 JavaScript -->
    <script src="{% static 'plugins/d3/d3.min.js' %}"></script>
    <script src="{% static 'plugins/c3-master/c3.min.js' %}"></script>
    <script src="{% static 'js/treeview.js' %}"></script>
    <script src="{% static 'plugins/echarts.js' %}"></script>

{% endblock %}