{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Home page{% endblock %}
{% block css %}
    <!--This page css - Morris CSS -->
    <link href="{% static 'plugins/c3-master/c3.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor">Dashboard</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </div>
        <div class="col-md-7 col-4 align-self-center">
            <div class="d-flex m-t-10 justify-content-end">
                <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                    <div class="chart-text m-r-10">
                        <h6 class="m-b-0">
                            <small>THIS MONTH</small>
                        </h6>
                        <h4 class="m-t-0 text-info">{{ WarningLogCount.0 }} Warning(s)</h4></div>
                    <div class="spark-chart">
                        <div id="monthchart"></div>
                    </div>
                </div>
                <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                    <div class="chart-text m-r-10">
                        <h6 class="m-b-0">
                            <small>LAST MONTH</small>
                        </h6>
                        <h4 class="m-t-0 text-primary text-purple">{{ WarningLogCount.1 }} Warning(s)</h4></div>
                    <div class="spark-chart">
                        <div id="lastmonthchart"></div>
                    </div>
                </div>
                <div class="">
                    <button class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right m-l-10">
                        <i class="ti-settings text-white"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-8 col-md-7">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex flex-wrap">
                                <div>
                                    <h3 class="card-title">Equipment Overview</h3>
                                    <h6 class="card-subtitle">Health equipment Vs Abnormal equipment</h6></div>
                                <div class="ml-auto">
                                    <ul class="list-inline">
                                        <li>
                                            <h6 class="text-muted  text-info"><i
                                                    class="fa fa-circle font-10 m-r-10"></i>Health equipment</h6>
                                        </li>
                                        <li>
                                            <h6 class="text-muted text-success"><i
                                                    class="fa fa-circle font-10 m-r-10 "></i>Abnormal equipment</h6>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="amp-pxl" style="height: 360px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Assets statistics </h3>
                    <h6 class="card-subtitle">Different types of Asset Registered to Manage</h6>
                    <div id="visitor" style="height:290px; width:100%;"></div>
                </div>
                <div>
                    <hr class="m-t-0 m-b-0">
                </div>
                <div class="card-body text-center ">
                    <ul class="list-inline m-b-0">
                        <li>
                            <h6 class="text-muted text-info"><i class="fa fa-circle font-10 m-r-10 "></i>Sensor
                            </h6></li>
                        <li>
                            <h6 class="text-muted  text-primary"><i class="fa fa-circle font-10 m-r-10"></i>Equipment
                                Group
                            </h6></li>
                        <li>
                            <h6 class="text-muted  text-success"><i class="fa fa-circle font-10 m-r-10"></i>Component
                            </h6></li>
                        <li>
                            <h6 class="text-muted  text-mypurple"><i class="fa fa-circle font-10 m-r-10"></i>Machine
                            </h6></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card blog-widget">
                <div class="card-body">
                    <div class="blog-image"><img src="{% static 'images/big/op1.jpg' %}" alt="img"
                                                 class="img-responsive"/></div>
                    <h3>Condition monitoring is significant for offshore platform</h3>
                    <label class="label label-rounded label-success">Technology</label>
                    <p class="m-t-20 m-b-20">
                        Induction motors have been extensively used in industry to transform electricity to
                        mechanical energy. Failure of motors strongly affects the continuity of production, thus
                        causing economic losses.
                    </p>
                    <div class="d-flex">
                        <div class="read"><a href="javascript:void(0)" class="link font-medium">Read More</a>
                        </div>
                        <div class="ml-auto">
                            <a href="javascript:void(0)" class="link m-r-10 " data-toggle="tooltip"
                               title="Like"><i class="mdi mdi-heart-outline"></i></a> <a
                                href="javascript:void(0)" class="link" data-toggle="tooltip" title="Share"><i
                                class="mdi mdi-share-variant"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-wrap">
                        <div>
                            <h3 class="card-title">Realtime waveform</h3>
                            <h6 class="card-subtitle">The latest collected signal</h6>
                        </div>
                        <div class="ml-auto align-self-center">
                            <ul class="list-inline m-b-0">
                                <li>
                                    <h6 class="text-muted text-success"><i
                                            class="fa fa-circle font-10 m-r-10 "></i>Vibration signal</h6></li>
                            </ul>
                        </div>

                    </div>
                    <div id="signalpresentation" style="width:100%; height:400px;"></div>
                    <div class="row text-center">
                        <div class="col-lg-4 col-md-4 m-t-20"><h1 class="m-b-0 font-light">10240</h1>
                            <small>Total point</small>
                        </div>
                        <div class="col-lg-4 col-md-4 m-t-20"><h1 class="m-b-0 font-light">10240</h1>
                            <small>Sampling frequency</small>
                        </div>
                        <div class="col-lg-4 col-md-4 m-t-20"><h1 class="m-b-0 font-light"
                                                                  id="signal_collected_day"></h1>
                            <small>Collected time</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-md-4">
            <div class="card card-inverse card-primary">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="m-r-20 align-self-center">
                            <h1 class="text-white"><i class="ti-pie-chart"></i></h1></div>
                        <div>
                            <h3 class="card-title">Data volume</h3>
                            <h6 class="card-subtitle">{% now "SHORT_DATETIME_FORMAT" %}</h6></div>
                    </div>
                    <div class="row">
                        <div class="col-4 align-self-center">
                            <h2 class="font-light text-white">{{ SignalVolume }}</h2>
                        </div>
                        <div class="col-8 p-t-10 p-b-20 align-self-center">
                            <div class="usage chartist-chart" style="height:65px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-4 col-md-4">
            <div class="card card-inverse card-success">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="m-r-20 align-self-center">
                            <h1 class="text-white"><i class="icon-cloud-download"></i></h1></div>
                        <div>
                            <h3 class="card-title">Signal count</h3>
                            <h6 class="card-subtitle">{% now "Y F d" %}</h6></div>
                    </div>
                    <div class="row">
                        <div class="col-4 align-self-center">
                            <h2 class="font-light text-white">{{ SignalCount }}</h2>
                        </div>
                        <div class="col-8 p-t-10 p-b-20 text-right">
                            <div class="spark-count" style="height:65px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-4 col-md-4">
            <div class="card">
                <img class="" src="{% static 'images/background/weatherbg.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay" style="height:110px;">
                    <h3 class="card-title text-white m-b-0 dl">Beijing</h3>
                    <small class="card-text text-white font-light">Sunday 15 march</small>
                </div>
                <div class="card-body weather-small">
                    <div class="row">
                        <div class="col-8 b-r align-self-center">
                            <div class="d-flex">
                                <div class="display-6 text-info"><i class="wi wi-day-rain-wind"></i></div>
                                <div class="m-l-20">
                                    <h1 class="font-light text-info m-b-0">3<sup>0</sup></h1>
                                    <small>Sunny day</small>
                                </div>
                            </div>

                        </div>
                        <div class="col-4 text-center">
                            <h1 class="font-light m-b-0">-5<sup>0</sup></h1>
                            <small>Tonight</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <div class="row">
        <!-- Column -->
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-wrap">
                        <div>
                            <h3 class="card-title">Tree view</h3>
                            <h6 class="card-subtitle">Relationships of registed equipment</h6>
                        </div>
                        <div class="ml-auto align-self-center">

                        </div>

                    </div>
                    <div id="Treeview" style="width:100%; height:500px;"></div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <div class="row">
        <!-- Column -->
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-wrap">
                        <div>
                            <h3 class="card-title">Calender</h3>
                            <h6 class="card-subtitle">Warning log calender in 2018</h6>
                        </div>
                        <div class="ml-auto align-self-center">

                        </div>

                    </div>
                    <div id="calender" style="width:100%; height:500px;"></div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>

{% endblock %}
{% block javascritp %}
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- chartist chart -->
    <script src="{% static 'plugins/chartist-js/dist/chartist.min.js' %}"></script>
    <script src="{% static 'plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js' %}"></script>
    <!--c3 JavaScript -->
    <script src="{% static 'plugins/d3/d3.min.js' %}"></script>
    <script src="{% static 'plugins/c3-master/c3.min.js' %}"></script>
    <!-- Chart JS -->
    <script src="{% static 'js/dashboard1.js' %}"></script>
    <!-- Echarts -->
    <script src="{% static 'plugins/echarts.js' %}"></script>
    <script src="{% static 'js/treeview.js' %}"></script>
    <script>
        var WarningLogCount ={{ WarningLogCount }};
    </script>
{% endblock %}

